/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 100%;
}

body {
  background-color: whitesmoke;
}

/* Nav Bar */

.top-nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.top-nav > img {
  margin-top: 2vh;
}

.links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.links > li {
  margin-right: 2vw;
  cursor: pointer;
}

.links > li:last-child {
  margin-right: 0;
}

/* Hero */
.hero {
  background: url("../images/slide1.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  color: white;
  position: relative;
}

.hero-content {
  margin: 30vh 0;
  align-self: center;
  justify-content: center;
}
.hero-heading {
  text-transform: uppercase;
  font-family: "The Mix Black";
  font-size: 3vh;
  text-align: center;
  padding: 0 25vh;
}
/* Foundation */
.company-foundation {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.foundation-heading {
  align-self: center;
  margin: 5vh 0;
  font-size: xx-large;
  text-align: center;
  text-transform: uppercase;
}

.foundation-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company-solid {
  background-color: white;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 11px;
  border-spacing: x;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 2vh;
  margin-bottom: 10vh;
  flex-grow: 1;
  box-shadow: 5px 5px whitesmoke;
  justify-self: center;
}

.company-solid > img {
  height: 10vh;
  align-self: center;
  margin: 5vh 2vh 2vh 2vh;
}

.company-solid > h5 {
  align-self: center;
  margin-bottom: 2vh;
  font-size: larger;
  text-transform: uppercase;
}

.company-solid > p {
  align-self: center;
  text-align: center;
  color: #646464;
  font-size: larger;
  line-height: 3vh;
  margin-bottom: 10vh;
}

/* Video */

.video-part {
  display: flex;
  flex-direction: column;
  background-image: url("../images/parallax-4.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  height: max-content;
}
.video-part > h3 {
  margin: 5vh;
  text-align: center;
  font-size: xx-large;
  color: white;
}
.video {
  /* height: 50vh; */
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 5vh;
}
.img1 {
  height: 20vw;
  position: relative;
  top: 0;
  left: 0;
}
.img2 {
  height: 2vw;
  border-radius: 50%;
  background-color: white;
  position: relative;
  top: -8vw;
  left: -19vw;
}

/* Services*/

.services {
  margin-top: 5vh;
  height: 100%;
}
.services-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offers {
  background-image: url("../images/bg-icon.png");
  background-color: white;
  border-style: solid;
  border-color: aliceblue;
  border-radius: 11px;
  border-spacing: x;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 2vh;
  margin-bottom: 10vh;
  flex-grow: 1;
  box-shadow: 5px 5px whitesmoke;
  justify-self: center;
  justify-content: space-between;
}

.offers > button {
  width: 200px;
  align-self: center;
  margin-bottom: 5vh;
}
.offers > h5 {
  align-self: center;
  text-align: center;
  margin: 2vh 0;
  font-size: larger;
  text-transform: uppercase;
}

.offers > ul {
  align-self: center;
  text-align: center;
  word-wrap: normal;
  color: #646464;
  font-size: larger;
  line-height: 3vh;
  margin-bottom: 10vh;
  list-style-image: url("../images/icons/bullet5.png");
  line-height: 4vh;
  list-style-position: inside;
}

.bdd-image {
  height: 25vw;
}

/* Utilities */

.container {
  padding: 0 12vh;
  width: 100%;
}

.btn {
  padding: 0.8rem 1.4rem;
  border: none;
  border-radius: 30px;
}

.btn-blue {
  background-color: #0078be;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .mobile {
    display: none;
  }
}
